.header
  %ul.menu_bar
    %li.menu_item
      %a.menu_link{href: '/accueil'} Accueil
    %li.menu_item
      %a.menu_link{href: '/dojo'} Dojo
    %li.menu_item
      %a.menu_link{href: '/fabrique'} Fabrique